/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
       background-image: linear-gradient(to bottom, rgba(47, 223, 197, 0.877), rgb(138, 226, 108)); } 

.form-container{
    display: block;
    max-width: 300px;
    margin: auto;  /* centered */

    background: #5fbbec;
    padding: 48px;
    border-radius: 16px;
}

.form-container mat-form-field{
    width: 100%;
}

.center{
    display:flex;
    justify-content: center;
}

.margin-top{
    margin-top: 16px;  
}

.text-center{
    text-align: center;
}



