<div id="login-box">
  <div class="left">
      <form #RegisterForm="ngForm" (ngSubmit)="createPost(RegisterForm.value)">
          <h1>Create a Blog Post</h1>
          <input type="text" ngModel id="title" name="title" placeholder="Title" />
          <input type="textarea" ngModel id="content" name="content" placeholder="content" />
          <input type="text" ngModel id="imgUrl" name="imgUrl" placeholder="image path will go here" />
          <input type="submit" id="saveData" name="signup_submit" value="Create Blog" />
      </form>
  </div>
  <!-- <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google" id='login'>Log in with Google+</button>
  </div>
  <div class="or">OR</div> -->
</div>
