<div id="login-box">
  <div class="left">
      <form [formGroup]="registerForm" #formDirective="ngForm" (ngSubmit)="createPost(registerForm.value, formDirective)">
          <h1>Create a Blog Post</h1>
          <mat-form-field>
            <input matInput placeholder="Title" formControlName="title" />     
             <mat-error *ngIf="title?.errors?.['required']">
                Title is required!
             </mat-error> 
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Content" formControlName="content" type="content"></textarea>   
                <mat-error *ngIf="content?.errors?.['required']">
                    Content is required!
                </mat-error>      
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Image Url" formControlName="imageUrl" type="imageUrl" />    
                <mat-error *ngIf="imageUrl?.errors?.['required']">
                    Content is required!
                </mat-error>      
            </mat-form-field>

          <input type="submit" id="saveData" name="signup_submit" value="Create Blog" />
      </form>
  </div>
  <!-- <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google" id='login'>Log in with Google+</button>
  </div>
  <div class="or">OR</div> -->
</div>
